<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Now</title>
    <link rel="stylesheet" href="/static/buy.css" />
  </head>
  <body>
    <div class="center-container">
      <div class="order-box">
        {% if msg %}
        <h2 class="msg">{{ msg }}</h2>
        <h2>Total Order Count: {{ count }}</h2>
        <div class="buttons">
          <div class="button">
          <a href="/menu">Browse Menu</a>
        </div>
        <div class="button">
          <a href="/home">Back To Home</a>
        </div>
        </div>
        {% else %}
        <div class="product-info">
          <img src="static/pizzas/{{ pizza.image }}" alt="{{ pizza.name }}" />
          <h2>{{ pizza.name }}</h2>
          <h3>Price: {{ pizza.discounted_price }}</h3>
        </div>

        <form action="/buy" method="POST" id="order-form">
          {% csrf_token %}
          <div class="user-info">
            <h2>Enter your information</h2>
            <input
              type="text"
              name="address"
              placeholder="Address"
              class="input-field"
              required
            />
            <input
              type="text"
              name="phone"
              placeholder="Phone Number"
              class="input-field"
              required
            />
          </div>
          <input id="submitbutton" type="submit" value="Buy Now" class="submit-button" />
        </form>
        {% endif %}
      </div>
    </div>
  </body>
</html>
