{% load static %}
<head>
<link rel="stylesheet" href={% static '/style.css'%}>
</head>
{% block Header %}
<nav>
    <div class="menu">
    <div class="logo">
        <a href="{% url "home" %}">Dominos Pizza</a>
        
    </div>
    <ul>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "about" %}">About Us</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Feedback</a></li>
        {% if username != "admin" %}
            <li><a href="{% url "logout" %}">Logout</a></li>
        {% elif username == "admin" %}
            <li><a href="{% url "modifymenu" %}">Add To Menu</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
            <li><a href="{% url "login" %}">Login</a></li>
        {% endif %}
        
    </ul>
    </div>
</nav>
{% endblock Header %}