{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static '/loginp.css' %}" />
  </head>
  <body>
    <div class="wrapper login">
      {% if error %}
      <div class="error">
        <strong>{{ error }}</strong>
      </div>
      {% endif %}
      <div class="container">
        <div class="col-left">
          <div class="login-text">
            <h2>Welcome!</h2>
            <p>Create your account.<br />For Free!</p>
            <a href="register" class="btn">Sign Up</a>
          </div>
        </div>

        <div class="col-right">
          <div class="login-form">
            <h2>Login</h2>
            <form action="home" method="post">
              {% csrf_token %}
              <p>
                <label>Username/Email address<span>*</span> </label>
                <input name="username" type="text" placeholder="Username" required />
              </p>

              <p>
                <label>Password<span>*</span></label>
                <input name="password" type="password" placeholder="Password" required />
              </p>
              <p>
                <input type="submit" value="Sign In" />
              </p>
              <p>
                <a href="">Forgot password?</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
